<!DOCTYPE html>

<html>

<head>
	<title>Account - Hoopers</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	 <!-- jQuery -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


	<!-- CSS -->


	<!-- JS -->

</head>

<body>
	<p>Hello World! This will be the account page.</p>
</body>

</html>
