<!DOCTYPE html>

<html>

<head>
	<title>Account - Hoopers</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="https://i.imgur.com/qHyjd86.png">

	<!-- jQuery -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	
	<!-- CSS -->
	<link rel="stylesheet" href="/css/account.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
		integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
		crossorigin="" />

	<!-- JS -->
	<script src='/js/bootstrap.min.js'></script>
	<script src='/js/account.js'></script>

	{{> facebook}}
	<script src="/js/facebook.js"></script>

</head>

<body>

	<!--header -->
	<nav class="navbar fixed-top navbar-expand" style="background-color:#3784D4">
		<div class="navbar-collapse collapse" id="headerText">
			<span class="navbar-brand">
				<h2>Account</h2>
			</span>
			<ul class="nav navbar-nav ml-auto">
				<li><a class="btn btn-primary" role="button" onclick="fb_logout()" href="/login"><p>Logout</p></a>
				</li>
			</ul>
		</div>
	</nav>

	
	<!-- nav bar bottom -->

	<nav class="navbar fixed-bottom navbar-expand" style="background-color:#3784D4">
		<div class="container">
			<div class="navbar-collapse collapse" id="homeNav">
				<ul class="navbar-nav nav-fill w-100">
					<li class="nav-item text-center">
						<a class="nav-link" href="/home">
							<div><i class="fas fa-map-marker-alt fa-lg"></i></div>
						</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link" href="/savedgames">
							<div><i class="fas fa-basketball-ball fa-lg"></i></div>
						</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link" href="/favgames">
							<div><i class="fas fa-heart fa-lg"></i></div>
						</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link" href="/mystats">
							<div><i class="far fa-chart-bar fa-lg"></i></div>
						</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link active" href="/account">
							<div><i class="fas fa-user-circle fa-lg"></i></div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
<br>

<div class="container">
		<div class="welcome">
			<div style="text-align: center;">
				<div id="user">
					<i class="fas fa-user-circle fa-5x" aria-hidden = 'true' id="icon"></i>
					<img src="#" class="userphoto " id="changepic">
					<h2 id = "name"></h2>
				</div>
			</div>
			<div class="userinfo" style="text-align: left;">
				<div class="form-group">
				<label for="game-skill">Skill</label><br>
				<select class="form-control" id="game-skill" name="skill">
					<option>Beginner</option>
					<option>Intermediate</option>
					<option>Advanced</option>
				</select required>
				</div>

				<div class="form-group">
					<label for="user-notes">Notes</label><br>
					<input type="text" class="form-control" id="user-notes" name="notes" placeholder="NEED send button" required>
				</div>
		</div>	
			</div>
		</div>
	</div>

	<!--JS Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</body>

</html>