<!DOCTYPE html>

<html>

<head>
	<title>Create a Game</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="https://i.imgur.com/qHyjd86.png">

	<!-- jQuery -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- CSS -->
	<link rel="stylesheet" href="/css/addgames.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


	<!-- JS -->

</head>

<body>

	<!-- header/top nav bar -->
	<nav class="navbar fixed-top navbar-expand navbar-light" style="background-color:#e8e8e8">
		<div class="navbar-collapse collapse" id="headerText">
			<ul class="nav navbar-nav">
				<li><a class="nav-link" href="/savedgames"><i class="fas fa-angle-left"></i></a>
				</li>
			</ul>
			<span class="navbar-brand">
				Create a Game
			</span>
		</div>
	</nav>

	<!-- nav bar bottom -->
	<nav class="navbar fixed-bottom navbar-expand navbar-light" style="background-color:#e8e8e8">
		<div class="container">
			<div class="navbar-collapse collapse" id="homeNav">
				<ul class="navbar-nav nav-fill w-100">
					<li class="nav-item text-center">
						<a class="nav-link active" href="/home"><div><i class="fas fa-map-marker-alt"></i></div></a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link" href="/savedgames"><div><i class="fas fa-basketball-ball"></i></div></a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link" href="/mystats"><div><i class="far fa-chart-bar"></i></div></a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link" href="/account"><div><i class="fas fa-user-circle"></i></div></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Main Form Elements -->
		<div class="container">
		<form id="addGamesForm" role="form" method="get" action="/addgamesview">
			<br>
			<div class = "form-group">
				<label for="game-name">Name</label><br>
				<input type="text" class="form-control" id="game-name" name="name" placeholder="example name" required>
			</div>

			<div class="form-group">
				<label for="game-time">Time</label><br>
				<input type ="time" class="form-control" id="game-time" name="time" required>
			</div>

			<div class="form-group">
				<label for="game-date">Date</label><br>
				<input type="date" class="form-control" id="game-date" name="date" required>
			</div>

			<div class="form-group">
				<label for="game-skill">Skill</label><br>
				<select class="form-control" id="game-skill" name="skill">
      				<option>Beginner</option>
      				<option>Intermediate</option>
      				<option>Advanced</option>
    			</select required>
			</div>

			<div class="form-group">
				<label for="game-players">Players</label><br>
				<input type="text" class="form-control" id="game-players" name="players" placeholder="example 4v4" required>
			</div>

			<div class="form-group">
				<label for="game-distance">Distance</label><br>
				<input type="text" class="form-control" id="game-distance" name="distance" placeholder="1.2 mi" required>
			</div>

			<div class="text-center">
				<button type="submit" id="submitbtn" class="btn btn-primary">Save Game</input required>
			</div>
		</form>
	</div>

	<!--JS Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</body>

</html>