<!DOCTYPE html>

<html>

<head>
	
	<title>Hoopers - Stats</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	 <!-- jQuery -->
	
	<!-- Bootstrap -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	<!-- CSS -->
	<link rel="stylesheet" href="/css/mystats.css">
	<!-- JS -->
</head>

<body>
	<a href="/home">to home</a>
	<!-- header-->
	<!--navbar-->
	<!--overall stats-->
	<div class="container allstats">
		<table class="allstatstable" id="dottedtable">
			<thead>
     			<tr>
					<th>Summary</th>
					<th>G</th>
					<th>PTS</th>
					<th>TRB</th>
					<th>AST</th>
				</tr>
			</thead>
			<tbody>
			<tr>
				<td><h5>Feb 2019</h5></td>
				<td>39</td>
				<td>29.3</td>
				<td>5.1</td>
				<td>5.4</td>
			</tr>
			<tr>
				<td><h5>Career</h5></td>
				<td>400</td>
				<td>23.6</td>
				<td>4.5</td>
				<td>6.7</td>
			</tr>
			</tbody> 		 
		</table>
	</div>
	<br><br><br>
	<!--per game stats-->
	<div class="container pergame">
		<h3>Per Game</h3>
		<table class="pergametable" id="linedtable">
			<thead>
     			<tr>
					<th>Date</th>
					<th>G</th>
					<th>PTS</th>
					<th>TRB</th>
					<th>AST</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2/13</td>
					<td>5</td>
					<td>8</td>
					<td>2</td>
					<td>4</td>
				</tr>
				<tr>
					<td>2/07</td>
					<td>5</td>
					<td>8</td>
					<td>2</td>
					<td>4</td>
				</tr>
				<tr>
					<td>2/04</td>
					<td>5</td>
					<td>8</td>
					<td>2</td>
					<td>4</td>
				</tr>
				<tr>
					<td>1/26</td>
					<td>5</td>
					<td>8</td>
					<td>2</td>
					<td>4</td>
				</tr>
				<tr>
					<td>1/15</td>
					<td>5</td>
					<td>8</td>
					<td>2</td>
					<td>4</td>
				</tr>
				<tr>
					<td>1/12</td>
					<td>5</td>
					<td>8</td>
					<td>2</td>
					<td>4</td>
				</tr>
				<tr>
					<td>1/02</td>
					<td>5</td>
					<td>8</td>
					<td>2</td>
					<td>4</td>
				</tr>
			</tbody> 	

		</table>
	</div>
</body>
</html>
