h2,
h1,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding-top: 50px;
    padding-top: 50px;
    overscroll-behavior-y: none;
    background-color:#F4F4F4;
}

/*top navbar elements*/

.fixed-top {
    height: 67.6px;
}

.navbar-brand {
    font-size: 1.75rem;
}

.btn-primary {
    background-color: orange;
    color: white;
    border-color: orange;
}

/*bottom navbar elements*/

.fixed-bottom {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
}
.fa,
.fas,
.far{
    color:white;
}
.active .fas{
    color:#ffae44;
}


/*body*/
.userinfo{
    position:center;
    text-align:center;
    padding-top:10%;
    padding-bottom: 20%;
}

.comments{
    padding-left: 5%;
}
