body {
    overscroll-behavior-y: none;
    padding-top: 50px;
}


/*bottom navbar elements*/

.fixed-bottom {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-light .navbar-brand {
    color: black;
    font-size: 1.75rem;
}

.btn-primary {
    background-color: orange;
    color: white;
    border-color: orange;
}
