body {
    padding-top: 50px;
    overscroll-behavior-y: none;
    background-color:#F4F4F4;
}

h2,
h1,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

/*top navbar elements*/

.fixed-top {
    height: 67.6px;
}

.navbar-brand h2{
  color:white;
}

#arrow{
    padding-right: 10px;
}

/*bottom navbar elements*/

.fixed-bottom {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
}
.fa,
.fas,
.far{
    color:white;
}
.active .far{
    color:#ffae44;
}


/*form*/
#addStatsForm{
    margin-top:10%;
}
.form-group{
    font-family: 'Montserrat', sans-serif;
    padding-bottom:5px;
}
.form-control{
    color:#444444;
    border:0;
    height:50px;
}
label{
    color:#444444;  
    font-size:20px;
}
 

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
    -webkit-appearance: textarea;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
}

.btn-primary p{
    font-size:16px;
 }
 .btn-primary {
     border-radius: 40px;
     padding:15px;
     background-color: #FFA021;
     border: none;
     color: white;
 }

