body {
    padding-top: 15%;
    overscroll-behavior-y: none;
}

h2,
h1,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif;
}


/*bottom navbar elements*/

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    line-height: 20px;
}

.navbar-light .navbar-nav .nav-link {
    line-height: 20px;
}

.fixed-bottom {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-light .navbar-brand {
    color: black;
    font-size: 1.75rem;
    padding-left: 10px;
}

.fa-plus:before {
    padding-right: 30px;
}

.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
    -webkit-appearance: textarea;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
}

.btn-primary {
    color: #111;
    background-color: #ffbc3d;
    width: 200px;
    border: 0px;
    border-radius: 5px;
    font-weight: bolder;
}

input[type="date" i],
input[type="datetime-local" i],
input[type="month" i],
input[type="time" i],
input[type="week" i] {
    border-color: #ced4da;
}