h2,
h1,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif;
}

h3 b {
    /*font-size: 1.0rem;*/
    font-family: 'Montserrat', sans-serif;
}

body {
    padding-top: 50px;
    overscroll-behavior-y: none;
}

col {
    min-height: 1px;
}


/*top navbar elements*/

.fixed-top {
    height: 67.6px;
}

.navbar-brand {
    font-size: 1.75rem;
}


/*bottom navbar elements*/

.fixed-bottom {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
}


/*game listings*/

img {
    padding: 5px;
    width: 400px;
}

.game {
    box-shadow: 0 8px 6px -6px black;
    overflow: hidden;
    color: black;
    background-color: lightblue;
    margin-top: 5%;
    margin-bottom: 5%;
}

.gamelist {
    padding-bottom: 15%;
    padding-top: 5%;
}

.distance {
    padding-top: 5px;
}

@media only screen and (max-device-width: 480px) {}

#mapArea1 {
    height: 180px;
}

#mapArea2 {
    height: 180px;
}

#mapArea3 {
    height: 180px;
}
