h2,
h1,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding-top: 50px;
    overscroll-behavior-y: none;
    background-color: #F4F4F4;
}

col {
    min-height: 1px;
}


/*top navbar elements*/

.fixed-top {
    height: 67.6px;
}

.navbar-brand h2 {
    color: white;
}


/*bottom navbar elements*/

.fixed-bottom {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.fa,
.fas,
.far {
    color: white;
}

.active .fas {
    color: #ffae44;
}


/*game listings*/

.game {
    /* box-shadow: 0 8px 6px -6px black;*/
    overflow: hidden;
    color: black;
    background-color: #FEFEFE !important;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.gamename {
    font-size: 28px;
    color: #444444;
    padding-left:12px;
}

.gamelist {
    padding-bottom: 15%;
    padding-top: 5%;
}

.distance {
    padding-top: 5px;
}

.checkboxcontainer {
    position: relative;
    margin:0;
    top: -115px;
    left: 220px;
}

.checkbox {
    position:absolute;
    height: 25px;
    width: 25px;
}

.savegame{
    padding-right:5px;
    display: inline-block;

}

.details{
    padding-left:12px;
}

#mainMap {
    margin-top:10px;
    height: 225px;
}

#mapArea1 {
    height: 180px;
}

#mapArea2 {
    height: 180px;
}

#mapArea3 {
    height: 180px;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

        .checkboxcontainer {
            position: relative;
            margin:0;
            top: -115px;
            left: 220px;
        }
        
        .checkbox {
            position:absolute;
            height: 25px;
            width: 25px;
        }
        
        .savegame{
            padding-right:5px;
            display: inline-block;
            font-size:12px;
        }
     }

     /* iphone 6, 6s, 7, 8 */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
        .checkboxcontainer {
            position: relative;
            margin:0;
            top: -115px;
            left: 220px;
        }
        
        .checkbox {
            position:absolute;
            height: 25px;
            width: 25px;
        }
        
        .savegame{
            padding-right:5px;
            display: inline-block;
            font-size:12px;
        }
     }
