h2,
h1,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif;
}

h3 b {
    /*font-size: 1.0rem;*/
    font-family: 'Montserrat', sans-serif;
}

body {
    padding-top: 60px;
    overscroll-behavior-y: none;
}

col {
    min-height: 1px;
}


/*bottom navbar elements*/

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    line-height: 20px;
}

.navbar-light .navbar-nav .nav-link {
    line-height: 20px;
}

.fixed-bottom {
    height: 50px;
}


/*game listings*/

img {
    padding: 5px;
    width: 400px;
}

.game {
    box-shadow: 0 8px 6px -6px black;
    padding-top: 25px;
    overflow: hidden;
    color: black;
}

.gamelist {
    padding-bottom: 100px;
}

.distance {
    padding-top: 5px;
}

@media only screen and (max-device-width: 480px) {}