h2,h1,h3,h4,h5,h6,p{
    font-family: 'Montserrat', sans-serif;
}
body {
    overscroll-behavior-y: none;
    padding-top: 75px;
}

/*nav bar elements*/
.fa-search:before {
  padding-left: 8px;
}

.fa-list-ul:before {
  padding-left: 19px;
}

.fa-chart-bar:before {
  padding-left: 10px;
}

.fa-user-friends:before {
  padding-left: 15px;
}

.fa-user-circle:before {
  padding-left: 21px;
}

.navbar {
  padding-right: 1px;
}

.navbar-light .navbar-brand {
    color: black;
    font-size: 1.75rem;
}

.fa-plus:before {
    padding-right: 30px;
}

/* all stats table */
table#dottedtable {
    border-collapse: collapse;
    width:95%;
    font-family: 'Montserrat', sans-serif;
  }

table#dottedtable td, table#dottedtable th {
border: 1px dashed black;
text-align:center;
padding-top: 5px;
padding-bottom: 5px;
}
table#dottedtable tr:first-child th {
border-top: 0;
}
table#dottedtable tr:last-child td {
border-bottom: 0;
}
table#dottedtable tr td:first-child,
table#dottedtable tr th:first-child {
border-left: 0;
}
table#dottedtable tr td:last-child,
table#dottedtable tr th:last-child {
border-right: 0;
}

/*per games table*/
table#linedtable{
    border-collapse: collapse;
    width:100%;
    table-layout: fixed;
    font-family: 'Montserrat', sans-serif;
}
table#linedtable th, table#linedtable td {
    border: 1px solid black;
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pergame{
  padding-bottom:100px;
}

@media only screen and (max-device-width: 480px) {

}
