h2,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding-top: 50px;
    padding-bottom: 100px;
    overscroll-behavior-y: none;
    background-color: #F4F4F4;
}


/*top navbar elements*/

.fixed-top {
    height: 67.6px;
}

.navbar-brand h2 {
    color: white;
}

.btn-primary p {
    font-size: 13px;
}

.btn-primary {
    margin-bottom: 5px;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #FFA021;
    border: none;
    color: white;
}


/*bottom navbar elements*/

.fixed-bottom {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.fa,
.fas,
.far {
    color: white;
}

.active .far {
    color: #ffae44;
}


/* all stats table */

.allstats {
    margin-top: 10%;
}

.allstats h5 {
    color: black;
}

table {
    font-size: 20px;
    background-color: white;
    color: #444444;
}

table#dottedtable {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

table th {
    color: #444444;
}

table#dottedtable td,
table#dottedtable th {
    border: 1px dashed #444444;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

table#dottedtable tr:first-child th {
    border-top: 0;
}

table#dottedtable tr:last-child td {
    border-bottom: 0;
}

table#dottedtable tr td:first-child,
table#dottedtable tr th:first-child {
    border-left: 0;
}

table#dottedtable tr td:last-child,
table#dottedtable tr th:last-child {
    border-right: 0;
}


/*per games table*/

.pergame h3 {
    color: black;
}

table#linedtable {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    font-family: 'Montserrat', sans-serif;
}

table#linedtable th,
table#linedtable td {
    border: 1px solid #444444;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        
        .btn-primary{
            margin-bottom: 3px;
        }
        .btn-primary p{
            font-size:12px;
         }
    
     }

     /* iphone 6, 6s, 7, 8 */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
        .btn-primary{
            margin-bottom: 3px;
        }
        .btn-primary p{
            font-size:12px;
         }
        
     }