h2,
h1,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding-top: 75px;
    padding-bottom: 75px;
    overscroll-behavior-y: none;
}


/*bottom navbar elements*/

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    line-height: 20px;
}

.navbar-light .navbar-nav .nav-link {
    line-height: 20px;
}

.fixed-bottom {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-light .navbar-brand {
    color: black;
    font-size: 1.75rem;
}

.distance {
    padding-top: 5px;
}

img {
    padding: 5px;
    width: 400px;
}

.upcominggames {
    padding-bottom: 15%;
}

.mygames {
    padding-top: 5%;
    padding-bottom: 5%;
}

.game {
    background-color: lightblue;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 8px 6px -6px black;
    overflow: hidden;
    color: black;
}

.btn-primary {
    background-color: orange;
    border-color: orange;
    color: white;
}

#mapArea1 {
    height: 180px;
}

#mapArea2 {
    height: 180px;
}

#mapArea3 {
    height: 180px;
}